body{
    font-family: $basefont;
    background-color: $back-color;
    color: $basecolor
}

header{
    font-family: $headfont;
    color: $greencolor;
}


@media screen and (min-width: 725px) and (max-width: 1000px) {
    
}
    
    
@media screen and (max-width: 724px) {

}
