@import url('https://fonts.googleapis.com/css?family=Bitter|Cabin|Domine|Titillium+Web&display=swap');

$headfont: 'Domine', serif;
$basefont: 'Titillium Web', sans-serif;
$back-color: rgba(25, 25, 25, .9);
$basecolor: white;

$greencolor: rgba(25, 206, 151, 0.96);